QToolButton{
    width: 28px;
    height: 28px;
}

QToolButton:hover{
    background-color: #808080;
}

QToolButton::menu-indicator{
    padding-right: -7px;
    image: url(:/icons/code-editor/down.svg);
}

QToolTip{
    background-color: white;
    color: #000000;
}
